{% extends 'templates/app.twig' %}

{% block content %}

  <div class="mobile-nav-trigger-handler">

    <a class="mobile-nav-trigger menu-toggle action--open" href="#0">
      <span>
        <span class="open">Menu</span>
        <span class="close">
          <svg class="icon icon-cross">
            <use xlink:href="{{ base_url() }}/images/symbols.svg#icon-cross"></use>
          </svg>
        </span>
      </span>
    </a>
  </div>
  <div class="l-page" role="document">
    <header class="l-region--header" role="banner">
      <a class="navbar-brand" href="{{ path_for('home') }}">
        <img  class="logo" src="{{ base_url() }}/images/logo.png" alt="Logo" />
        <img  class="stuck-logo" src="{{ base_url() }}/images/logo-horizontal.png" alt="Logo" />
      </a>
      <div class="meta">
        <a class="book-now booknow-trigger open-loader" href="#0">
          <span>Reserve Now</span>
        </a>
        <a class="phone-num" href="tel:+919474288404">
          <span>+91-947-428-8404</span>
        </a>
      </div>
    </header>

    <section class="hero back not-full-screen" id="hero" data-video="{{ base_url() }}/videos/fish.mp4">
      {# <div class="bg-img fade-lazyload lazyload lazypreload hero-bg-0" data-bgset="/wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-640x400.jpg [(max-width:480px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-1024x640.jpg [(max-width:767px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-960x600.jpg [(max-width:960px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-1024x640.jpg [(max-width:1024px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-1440x900.jpg [(max-width:1250px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-1440x900.jpg [(max-width:1440px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates.jpg [(max-width:1900px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates.jpg [(min-width:1901px)]"
        data-sizes="cover" data-parent-fit="cover" data-expand="40" data-ie8="/wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-960x600.jpg"
        style="       background-repeat:no-repeat;       background-position:center center;       background-size:cover;"></div> #}
      <!--[if lte IE 8]><style>   .lazypreload hero-bg-0{       background:url(/wp-content/uploads/2016/08/Turneffe-Island-Resort-Rates-960x600.jpg);       background-repeat:no-repeat;       background-position:center center;       background-size:cover;       -ms-behavior: url(/backgroundsize.min.htc);       behavior: url(/backgroundsize.min.htc);}</style><![endif]-->
      <div class="wrap">
        <h1>Our Rates</h1>
      </div>
      <!-- <img class="transition" src="https://www.turnefferesort.com/wp-content/themes/turneffe/dist/images/edge.svg  " alt="" /> -->
    </section>
    <main class="main" role="main">
      <!-- <div class="transition-layer">
            <div class="bg-layer"></div>
          </div> -->
      <article class="post-409 page type-page status-publish hentry">

        <section id="" class="content-num-0 standard-text content-block  background-color-light">
          <div class="entry-container ">
            <div class="inner">

              <h2 class="header">Packages</h2>


              <div class="standard-content">
                <p>The Andaman tour package in the year 2018 seems to enjoy great popularity amongst the travel buffs.

A lot of changes have been made into the Andaman Tourism sector to make it more attractive and comforting for the travelers. There are so many things to do when you are on this Island so that you can see the best of it.

Here we have covered all the important islands and activities that you need to see and do to make your vacations amazing. The best tour packages for Andaman cover everything from the north to the south of the Andaman Islands, to offer the travelers with a complete Andaman traveling experience.

So, if you are not sure about how to travel in Andaman then you can book the guided Andaman holiday packages from Dreamgateways.

Andaman is a year round destination and is always lovely. Although, the best time to visit Andaman would be from Novembers to May. It is suggested to avoid traveling to this island during the monsoons because of the strong winds, high tides and nonstop rains. In case, you are wondering about ways to reach to this island then there are only two answers for the question – “How to reach Andaman?” You can land on Port Blair which is capital of this Island, either by sea or air.

Direct flights are available from Bangalore, Chennai, Kolkata, Mumbai and Delhi. You can sail to Port Blair, as well from Kolkata, Vizag and Chennai. </p>
<p>To know about our packages <a href="{{ path_for('contact') }}">click here</a></p>
              </div>


            </div>
          </div>
          <!-- <div class="transition-layer">
			<div class="bg-layer"></div>
		</div> -->
        </section>
        {# <section class="accordion content-block background-color-light remove-padding">
          <div class="entry-container">
            <div class="accordion-handler">
              <div class="accordion-container">
                <div class="accordion-header">4 Days - 3 Nights</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <p><h3>Trip Type  Romantic tour</h3><br>
<strong>Days - </strong>  4days<br>
<strong>Nights - </strong> 3 nights, 3 Star Hotels<br>
<strong>Quotation Price - </strong> Starts From - 12,700/- per person*<br>
<strong>Destination - </strong>  Andaman<br>
<strong>No. of Adults - </strong> & children  2 Adults & 0 Children<br>
<strong>Travel date - </strong>  April to August.</p>

<p><strong>Day 1 : Port Blair: Arrival and sightseeing</strong><br>
• Cellular Jail <br>
• Corbyn Beach <br>
• Light and Sound Show <br>
• Marina park <br>
<p>As your arrive in the Andaman capital you will be greeted by the agent’s representative and transferred to your hotel. Check in at your hotel and then proceed for a tour.</p> 

<p>From there you will taken to the Corbyn Cove Beach which is fringed with coconut palms all over. You can swim, indulge in water sport activities at the beach or simply bask in the sun. 
Then visit Marine Park is at Port Blair. 
Then visit to the Cellular Jail in the evening to witness a Light and Sound Show which brings to life the story those who fought for our country against the British. 
Make your way back to the hotel for an overnight stay at port blair</p>

<p><strong>Day 2 : Havelock: Cruise to Havelock & Radhanagar Beach visit Havelock:</strong></p>
• Scenic Cruises <br>
• Radhanagar Beach<br>
<p>Post breakfast you will board a jetty which takes you to the heavenly Havelock Island via private cruise. Upon arrival you will be transferred to for sightseeing at Havelock.
You will visit the marvelous Radhanagar Beach which has been voted the best beach in Asia and is among the top ten beaches of the world.
After a memorable excursion at the beautiful beach, return to your hotel for an overnight stay.(havelock)</p>
<p><strong>Day 3 : Havelock- Elephant Beach & lots of water activity</strong></p>
• Elephant Beach <br>
• Snorkeling <br>
<p>Elephant Beach is one of the most lovely beaches of Havelock Island with crystal clear water. It is famous for beach activities like snorkeling, Scuba. overnight stay.(port blair)</p>
<p><strong>Day 4 : Port Blair: Departure</strong></p>
<p>Savour a breakfast among the serene shores of Andaman before a transfer to the airport. Board your flight back home reminiscing about the wonderful memories you created on your trip.</p>


<p><strong>Hotel Details(3 Star)</strong><br>
<strong>Night 1,3 </strong><br> Blue mmarlin hotel ,port blair,premium  rooms<br>
                 Airport hotel, port blair, premium  rooms.<br>
<strong>Night 2</strong><br>Radha Krishna beach resort,Havelock,  standard cottage
            <br>Eldorado Beach Resort,Havelock,  standard cottage</p>

<p><strong>Cab Details</strong><br>
(XYLO, SCORPIO/ SWIFT DEZIRE) 
Transportation using Non-a/c vehicle at port blair. &amp; Non ac at Havelock.</p>


<p><strong>Inclusions</strong>
Meal plan : Breakfast <br>
Airport Transfer : Arrival <br>
Airport Transfer : Departure <br>
In Land Ferry Transfers : Private ( Cruise/Boat Tickets (Makruzz/green ocean/costal cruise)) <br>
Cabs : AC ( Transportation using a/c vehicle at port blair.)<br>
Cabs : Non-AC ( Transportation using non a/c vehicle at Havelock ) <br>
Water Sport Activities ( Snorkeling at Elephant Beach.(complimentary for all )) <br>
Others : Other Inclusions ( All Entry Tickets. <br>
All Entry Permits. <br>
Assistance at drop &amp; pickup point. <br>
A/c accommodation. <br>
GST is included<br></p>
<p><strong>Exclusions</strong><br>
Meal plan : Lunch <br>
Meal plan : Dinner <br>
In Land Ferry Transfers : Government <br>
Airfare <br>
Others : Other Exclusions ( Any Extra Tours.
Personal Expenses. 
Flight Tickets. 
Camera Charges 
Laundry Charges. 
Telephone Expenses. 
Food. 
Not in inclusion. )
</p>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Snorkeling</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Package</h3>
                      </div>
                      <div class="price">
                        $1,640 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,040 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,790 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Scuba Diving</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Package</h3>
                      </div>
                      <div class="price">
                        $1,790 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,390 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Package</h3>
                      </div>
                      <div class="price">
                        $3,390 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Fishing</div>
                <div class="accordion-content">
                  <p>
                    <span style="font-size: 14px;">
                      <em>Additional cost for single anglers.</em>
                    </span>
                  </p>
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,190 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,790 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Package</h3>
                      </div>
                      <div class="price">
                        $4,390 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Combination</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,290 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Package</h3>
                      </div>
                      <div class="price">
                        $2,990 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Package</h3>
                      </div>
                      <div class="price">
                        $4,690 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {# <section id="" class="content-num-2 standard-text content-block  background-color-dark">
          <div class="entry-container ">
            <div class="inner">

              <h2 class="header">Room Upgrades</h2>


              <div class="standard-content">
                <p>The Deluxe Guestroom comes standard with any package you book, but you can upgrade to a Superior Guestroom,
                  a Private Villa or even the Honeymoon or Presidential Villa for heightened comfort, luxury and privacy.</p>
              </div>


            </div>
          </div>
        </section>
        <section class="accordion content-block background-color-dark remove-padding">
          <div class="entry-container">
            <div class="accordion-handler">
              <div class="accordion-container">
                <div class="accordion-header">Superior Guestroom</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $300 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $400 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $500 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Private Villa</div>
                <div class="accordion-content">
                  <div class="price-details">
                    <div class="pricing">
                      <div class="content">
                        <h3>3-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $900 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>4-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $1,000 </div>
                    </div>
                    <div class="pricing">
                      <div class="content">
                        <h3>7-Night Upgrade</h3>
                      </div>
                      <div class="price">
                        $1,500 </div>
                    </div>
                    <div class="info">All prices in USD, subject to change and 12.5% tax. Rates are per person, based on double occupancy in
                      a Deluxe Room.</div>
                  </div>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Honeymoon Villa</div>
                <div class="accordion-content">
                  <p>Please call us to personalize your stay in the Honeymoon Villa: 1.800.874.0118</p>
                </div>
              </div>
              <div class="accordion-container">
                <div class="accordion-header">Presidential Villa</div>
                <div class="accordion-content">
                  <p>Please call us to personalize your stay in the Presidential Villa: 1.800.874.0118</p>
                </div>
              </div>
            </div>
          </div>
        </section> #}
        {# <section class="image-banner has-content">
          <div class="">
            {# <div class="bg-img fade-lazyload lazyload bg0" data-bgset="/wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-2560x758.jpg [(min-width:1901px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-1440x426.jpg [(max-width:1900px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-1440x426.jpg [(max-width:1440px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-1024x303.jpg [(max-width:1024px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-960x284.jpg [(max-width:960px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-1334x750.jpg [(max-width:767px)] | /wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-750x1334.jpg [(max-width:480px)]"
              data-sizes="cover" data-parent-fit="cover" data-expand="40" data-ie8="/wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-960x284.jpg"
              style="       background-repeat:no-repeat;       background-position:center center;       background-size:cover;"></div> #}
            <!--[if lte IE 8]><style>   .bg0{       background:url(/wp-content/uploads/2016/08/Turneffe-Island-Resort-Full-Island-Rental-960x284.jpg);       background-repeat:no-repeat;       background-position:center center;       background-size:cover;       -ms-behavior: url(/backgroundsize.min.htc);       behavior: url(/backgroundsize.min.htc);}</style><![endif]-->
          {# </div>
          <div class="inner">
            
            <div class="buttons">
              <a class="btn " href="../contact/index.html">
                <span>Contact Us</span>
              </a>
            </div>
          </div>
        </section> #} 
      </article>
    </main>


{% endblock %}