<div id="mobile-primary-nav" class="mobile-primary-nav is-fixed">

    <nav id="ml-menu" class="menu">
      <button class="action action--close" aria-label="Close Menu">
        <span class="icon-close"></span>
      </button>
      <div class="menu__wrap">
        <ul data-menu="main" class="menu__level">
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="{{ path_for('pricing') }}">Packages</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="#" data-submenu="submenu-276">About</a>
          </li>
          {# <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="#" data-submenu="submenu-297">Plan Your Trip</a>
          </li> #}
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="{{ path_for('contact') }}">Contact</a>
          </li>
        </ul>
        {# <ul data-menu="submenu-393" class="menu__level">
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="fly-fishing/index.html">Sea Walk</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="diving/index.html">Scuba Diving</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="snorkeling/index.html">Snorkeling</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="great-blue-hole/index.html">Speed Boating</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="relaxation/index.html">Relaxation</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="dining/index.html">Dining</a>
          </li>
        </ul> #}
        {# </ul> #}
        <ul data-menu="submenu-276" class="menu__level">
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="{{ path_for('theisland') }}">The Island</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="{{ path_for('yourhosts') }}">Your Hosts</a>
          </li>
        </ul>
        {# <ul data-menu="submenu-297" class="menu__level">
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="how-to-reserve/index.html">How to Reserve</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="what-to-pack/index.html">What to Pack</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="getting-here/index.html">Getting Here</a>
          </li>
          <li class="menu__item  menu__primary_navigation">
            <a class="menu__link" href="what-to-do-in-belize-city/index.html">What to do in Andaman</a>
          </li>
        </ul> #}
      </div>
    </nav>

    <div id="mobile-footer">
      <!-- <div class="mobile-search-handler">
          </div> -->
      <div class="mobile-btn-handler">
        <a class=" btn book-now booknow-trigger open-loader" href="#0">
          <span>Reserve Now</span>
        </a>
        <a class="phone-num btn" href="tel:+919474288404">
          <span>+91-947-428-8404</span>
        </a>
        <!-- <a class="btn pano" href="app/themes/turneffe/panos/TurneffeIslandResort/TurneffeIslandResort.html">
          <span>Book Now</span>
        </a> -->
      </div>
      <!--  <div class="mobile-general-contact">
          </div> -->

      <div class="social">
        <a href="#" target="_blank" aria-label="Facebook Link">
          <svg class="icon icon-facebook2">
            <use xlink:href="{{ base_url() }}/images/symbols.svg#icon-facebook2"></use>
          </svg>
        </a>
        <a href="#" target="_blank" aria-label="Twitter Link">
          <svg class="icon icon-twitter">
            <use xlink:href="{{ base_url() }}/images/symbols.svg#icon-twitter"></use>
          </svg>
        </a>
        <a href="#" target="_blank" aria-label="Instagram Link">
          <svg class="icon icon-instagram">
            <use xlink:href="{{ base_url() }}/images/symbols.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>